[
    { rabbit, [
        {loopback_users, []},
        { tcp_listeners, [ 5672 ]},
        { ssl_listeners, [ ]},
        { hipe_compile, false } 
    ]},
    { rabbitmq_management, [
        { load_definitions, "/etc/rabbitmq/rabbitConf.json"},
        { listeners, [
            { port, 15672 },
            { ssl, false } 

        ]}
    ]}
].